doctype html 
html
    head 
        title Tareas
    body
        h1= task.description
        p= task.createdAt
        p
            strong Autor 
            span= task.user.email 
        form(action=`/tasks/${task.id}?_method=DELETE` method="post") 
            input(type="submit", value="Eliminar")