doctype html 
html
    head 
        title Categorias
    body
       form(action=`/categories/${category.id}?_method=PUT` method="post")
        input(type="text" name="title" value=category.title placeholder="Titulo de la categoria") 
        input(type="color" name="color" value=category.color)
        input(type="submit" value="Guardar")