doctype html 
html
    head 
        title Tareas
    body
       form(action="/categories" method="post") 
        input(type="text" name="title" placeholder="Titulo de la categoria")
        input(type="color" name="color")
        input(type="submit", value="Guardar")