doctype html 
html
    head 
        title Tareas
    body
       form(method="post") 
        input(type="email" name="email" placeholder="Correo")
        input(type="password", name="password" placeholder="Contraseña")
        input(type="submit", value="Crear cuenta")